@use './variables.scss' as variable;

.action-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
  background: #fff;

  @media (max-width: 768px) {
    flex-direction: column; // Stack content and button vertically on small screens
    align-items: flex-start; // Align content to the left
    gap: 12px; // Add spacing between content and button
  }

  .content {
    flex: 1;

    h3 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    p {
      padding: 0%;
      font-size: 15px;
      color: #1a1a1a;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .action-button {
    background-color: variable.$teritiary-color;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    flex-shrink: 0; // Prevent button from shrinking

    &:hover {
      background-color: variable.$teritiary-color;
    }

    @media (max-width: 768px) {
      width: 100%; // Make button full width on small screens
    }
  }
}
