.article-suggestion {
  background-color: white;
  border-radius: 8px;

  .article-suggestion-title {
    font-size: 24px;
    text-align: center;
    color: #333;
  }

  .article-suggestion-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-top: 10px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .article-card {
      background-color: #f0f0f0;
      border: none;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      display: flex;
      flex-direction: column; // Ensure card content stacks vertically
      height: 100%; // Ensure all cards have the same height

      &:hover {
        transform: translateY(-5px);
      }

      .article-image-container {
        overflow: hidden; // Ensure images don't overflow
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .article-image {
          width: 100%;
          height: 100%;
          object-fit: cover; // Ensure images cover the container without distortion
          object-position: center; // Center the image within the container
        }
      }

      .card-body {
        padding: 0px;
        flex-grow: 1; // Allow card body to take up remaining space
        display: flex;
        flex-direction: column;
        justify-content: space-between; // Align content to top and bottom

        .title-icon-container {
          display: flex;
          align-items: center; // Align title and icon vertically
          justify-content: space-between; // Space between title and icon
          gap: 10px; // Consistent spacing between title and icon button
        }

        .card-title {
          font-size: 14px;
          margin-bottom: 0; // Remove default margin
          color: black;
          flex-grow: 1; // Allow title to take up available space
        }

        .circle-icon-button {
          border: 1px solid #999999;
          border-radius: 50%; // Make it circular
          width: 37px; // Adjust size as needed
          height: 37px; // Adjust size as needed
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: background-color 0.3s ease;
          flex-shrink: 0; // Prevent button from shrinking

          .fa-arrow-right {
            color: black; // Icon color
            font-size: 16px; // Adjust icon size
          }
        }
      }
    }
  }
}
.article-suggestion .article-suggestion-grid .article-card {
  padding: 10px;
}
