// @import './variables.scss';
@use './variables.scss' as variable;
@use './button.scss';

body,
#root {
  font-family: 'Noto Sans';
  background-color: variable.$primary-bg-color;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-body-heading {
  font-size: 24px;
  font-weight: 400;
}

.card-body-description {
  font-size: 15px;
  font-weight: 400;
  color: #1a1a1a;
}

.sub-heading {
  font-size: 30px;
  font-weight: 400;
  color: variable.$teritiary-color;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  color: black;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
