$primary-color: #0077b6;
$secondary-color: #f8f9fa;
$teritiary-color: #be0028;
$disabled-color: #949494;
$primary-bg-color: #f5f3f0ce;
$secondary-bg-color: white;
$font-family: 'Noto Sans';
$avatar-size: 40px;
